.show-arrow .menu-icon {
  display: none;
}
.fixed-action-btn:hover a.btn-floating {
  background-color: #37474f; /* Cambia a tu color deseado */
}
.fixed-action-btn ul li:nth-child(1) a.btn-floating:hover { background-color: #800040; } /* Rojo */
.fixed-action-btn ul li:nth-child(2) a.btn-floating:hover { background-color: #800040; } /* Amarillo */
.fixed-action-btn ul li:nth-child(3) a.btn-floating:hover { background-color: #800040; } /* Verde */
.fixed-action-btn ul li:nth-child(4) a.btn-floating:hover { background-color: #800040; } /* Azul */