.overlay-container {
    position: relative;
    width: 100%;
  }

  .overlay-text {
    position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      color: white;
      text-align: center;
  }