#card {
    background: linear-gradient(to bottom, #3498db, #95a5a6);
}
#fondo {
    background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,0.8211659663865546) 51%, rgba(224,224,224,1) 100%);
}
#resetFilters {
    background: rgb(255,0,0);
    background: linear-gradient(90deg, rgba(255,0,0,0.896796218487395) 10%, rgba(255,128,0,0.908000700280112) 90%);
}
#applyFilter{
    background: rgb(76,175,80);
    background: linear-gradient(90deg, rgba(76,175,80,1) 0%, rgba(0,255,42,0.908000700280112) 100%);
}


